[Desktop Entry]
Name=MacCatalina Dark 
Comment=Subtle Design
X-KDE-PluginInfo-Author=HBlanqueto
X-KDE-PluginInfo-Email=hblanqueto@outlook.com
X-KDE-PluginInfo-Name=MacCatalina Dark
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL 3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[ContrastEffect]
enabled=false
contrast=0
intensity=0
saturation=0
