[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][14]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][348]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][14][Applets][348][Configuration]
PreloadWeight=15

[Containments][14][Applets][348][Configuration][Appearance]
customDateFormat=ddd\s
customOffsetX=55.66502463054187
dateFormat=customDate
fixedFont=true
fontFamily=San Francisco Display
fontSize=13
showSeparator=false
use24hFormat=0

[Containments][14][Applets][348][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][354]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][354][Configuration]
PreloadWeight=0

[Containments][14][Applets][354][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][354][Configuration][General]
containmentType=Latte
lengthPixels=13

[Containments][14][Applets][355]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][355][Configuration]
PreloadWeight=0

[Containments][14][Applets][355][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][355][Configuration][General]
containmentType=Latte
lengthPixels=19

[Containments][14][Applets][358]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][358][Configuration]
PreloadWeight=0

[Containments][14][Applets][358][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][358][Configuration][General]
containmentType=Latte
lengthPixels=13

[Containments][14][Applets][363]
immutability=1
plugin=org.kde.plasma.volume

[Containments][14][Applets][363][Configuration]
PreloadWeight=17

[Containments][14][Applets][363][Configuration][ConfigDialog]
DialogHeight=420
DialogWidth=560

[Containments][14][Applets][363][Configuration][General]
raiseMaximumVolume=true
volumeStep=10

[Containments][14][Applets][364]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][14][Applets][364][Configuration]
PreloadWeight=27

[Containments][14][Applets][378]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][378][Configuration]
PreloadWeight=0

[Containments][14][Applets][378][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][378][Configuration][General]
containmentType=Latte
lengthPixels=15

[Containments][14][Applets][381]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][381][Configuration]
PreloadWeight=0

[Containments][14][Applets][381][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][381][Configuration][General]
containmentType=Latte
lengthPixels=15

[Containments][14][Applets][431]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][431][Configuration]
PreloadWeight=0

[Containments][14][Applets][431][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][431][Configuration][General]
containmentType=Latte
lengthPixels=17

[Containments][14][Applets][470]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][470][Configuration]
PreloadWeight=0

[Containments][14][Applets][470][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][470][Configuration][General]
containmentType=Latte
lengthPixels=7

[Containments][14][Applets][484]
immutability=1
plugin=org.kpple.kppleMenu

[Containments][14][Applets][484][Configuration]
PreloadWeight=29

[Containments][14][Applets][515]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][14][Applets][515][Configuration]
PreloadWeight=32

[Containments][14][Applets][515][Configuration][Appearance]
customDateFormat=ddd d MMM
customSpacing=1.5736040609137056
dateFormat=customDate
fixedFont=true
fontFamily=SF Pro Text
fontSize=14
showSeparator=false
use24hFormat=0

[Containments][14][Applets][515][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][528]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][14][Applets][528][Configuration]
PreloadWeight=12

[Containments][14][Applets][550]
immutability=1
plugin=org.kde.windowappmenu

[Containments][14][Applets][550][Configuration]
PreloadWeight=0

[Containments][14][Applets][550][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][550][Configuration][General]
containmentType=Latte
filterByActive=false
spacing=7
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][14][Applets][551]
immutability=1
plugin=org.kde.windowtitle

[Containments][14][Applets][551][Configuration]
PreloadWeight=0

[Containments][14][Applets][551][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][551][Configuration][General]
appMenuIsPresent=true
capitalFont=false
containmentType=Latte
filterActivityInfo=false
lengthFirstMargin=16
lengthLastMargin=6
lengthMarginsLock=false
placeHolder=Finder         File         Edit          View          Go         Window         Help
showIcon=false

[Containments][14][Applets][571]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][14][Applets][571][Configuration]
PreloadWeight=27

[Containments][14][Applets][572]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][14][Applets][572][Configuration]
PreloadWeight=47
SystrayContainmentId=573

[Containments][14][ConfigDialog]
DialogHeight=931
DialogWidth=450

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
alignment=10
alignmentUpgraded=true
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
animationsEnabled=false
appletOrder=355;484;551;550;572;571;470;528;378;363;381;364;354;515;358;431
dragActiveWindowEnabled=true
durationTime=x3
iconSize=20
inConfigureAppletsMode=true
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=34
shadowOpacity=0
shadowSize=0
shadowsUpgraded=true
splitterPosition=4
splitterPosition2=5
tasksUpgraded=true
titleTooltips=false
zoomLevel=0

[Containments][14][Indicator]
customType=org.kde.latte.win10
enabled=false
enabledForApplets=false
padding=0.05999999865889549
type=org.kde.latte.win10

[Containments][14][Indicator][org.kde.latte.win10][General]
appletPadding=0.1
lengthPadding=0.8
lineThickness=0.2
maxBackgroundOpacity=0.57

[Containments][339]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=3
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=5
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][339][Applets][340]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][339][Applets][340][Configuration]
PreloadWeight=0

[Containments][339][Applets][340][Configuration][General]
hoverAction=PreviewWindows
isInLatteDock=true
launchers59=applications:google-chrome.desktop,applications:microsoft-edge-dev.desktop,applications:org.kde.discover.desktop,applications:org.inkscape.Inkscape.desktop,applications:org.kde.gwenview.desktop,applications:com.obsproject.Studio.desktop,applications:discord.desktop,applications:systemsettings.desktop,file:///latte-separator1.desktop,applications:org.kde.konsole.desktop
manualScrollTasksType=Disabled
previewWindowAsPopup=true
scrollTasksEnabled=true
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
showProgressBadge=false

[Containments][339][Applets][345]
immutability=1
plugin=org.kde.plasma.trash

[Containments][339][Applets][345][Configuration]
PreloadWeight=0

[Containments][339][Applets][362]
immutability=1
plugin=org.kde.latte.separator

[Containments][339][Applets][362][Configuration]
PreloadWeight=0

[Containments][339][Applets][362][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][339][Applets][362][Configuration][General]
lengthMargin=10

[Containments][339][Applets][488]
immutability=1
plugin=launchpadPlasma

[Containments][339][Applets][488][Configuration]
PreloadWeight=0

[Containments][339][Applets][488][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][339][Applets][488][Configuration][General]
customButtonImage=app-launcher
favoriteSystemActions=logout,lock-screen
favoritesPortedToKAstats=true
iconSize=100
spaceHeight=30
spaceWidth=72
useCustomButtonImage=true
useCustomSizeGrid=true

[Containments][339][ConfigDialog]
DialogHeight=931
DialogWidth=450

[Containments][339][Configuration]
PreloadWeight=0

[Containments][339][General]
alignmentUpgraded=true
appletOrder=488;340;362;345
backgroundRadius=18
closeActiveWindowEnabled=true
durationTime=x1
groupTasksByDefault=false
iconSize=40
mouseWheelActions=false
panelOutline=true
panelShadows=false
panelSize=100
panelTransparency=41
scrollTasksEnabled=true
shadowOpacity=5
shadowSize=20
shadowsUpgraded=true
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
showProgressBadge=false
tasksUpgraded=true
thickMargin=28
zoomLevel=20

[Containments][339][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07000000029802322
type=org.kde.latte.default

[Containments][339][Indicator][org.kde.latte.default][General]
activeStyle=Dot
enabledForApplets=false
glowEnabled=true
glowOpacity=0
lengthPadding=0.07

[Containments][573]
PreloadWeight=42
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][573][Applets][574]
immutability=1
plugin=org.kde.plasma.volume

[Containments][573][Applets][574][Configuration]
PreloadWeight=42

[Containments][573][Applets][575]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][573][Applets][575][Configuration]
PreloadWeight=42

[Containments][573][Applets][576]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][573][Applets][576][Configuration]
PreloadWeight=42

[Containments][573][Applets][577]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][573][Applets][577][Configuration]
PreloadWeight=42

[Containments][573][Applets][578]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][573][Applets][578][Configuration]
PreloadWeight=42

[Containments][573][Applets][579]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][573][Applets][579][Configuration]
PreloadWeight=42

[Containments][573][Applets][580]
immutability=1
plugin=org.kde.plasma.vault

[Containments][573][Applets][580][Configuration]
PreloadWeight=42

[Containments][573][Applets][581]
immutability=1
plugin=org.kde.plasma.battery

[Containments][573][Applets][581][Configuration]
PreloadWeight=42

[Containments][573][Applets][582]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][573][Applets][582][Configuration]
PreloadWeight=42

[Containments][573][Applets][583]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][573][Applets][583][Configuration]
PreloadWeight=42

[Containments][573][General]
extraItems=org.kde.plasma.volume,org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.vault,org.kde.plasma.mediacontroller,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.devicenotifier,org.kde.plasma.notifications
knownItems=org.kde.plasma.volume,org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.vault,org.kde.plasma.mediacontroller,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.devicenotifier,org.kde.plasma.notifications

[LayoutSettings]
activities=
background=
backgroundStyle=0
color=darkgrey
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=
lastUsedActivity=
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2

[ScreenMapping]
screenMapping=
